# Chef
.vagrant
/cookbooks
.kitchen/
.kitchen.local.yml

# Ruby Bundler
bin/*
.bundle/*

# OSX hidden (and unnecessary) system files
/**/.DS_Store

# IDE-specific user config files
/.idea

# Berkshelf
Berksfile.lock
cookbooks-*.tar.gz

# AWS OpsWorks local workflow
/aws-cookbooks/

# Investigatory log results
/_debug_logs/
